<!-- Navigation -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <div class="brand-icon">J</div>
            Kadlewicz
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT ME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">SKILLS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li>
            </ul>
            <div class="hero-social">
                <a href="https://www.linkedin.com/in/joanna-kadlewicz-32b4a62b3/" class="hero-social-link"
                    title="LinkedIn" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/JoannaKadlewicz/" class="hero-social-link" title="GitHub" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:kontakt@joannakadlewicz.me" class="hero-social-link" title="Email">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="/assets/files/dummy_cv.pdf" class="hero-social-link" download title="Download CV">
                    <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</nav>